# Springboard Data Science Career Track Unit 4 Challenge - Tier 3 Complete

## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time. 

In this notebook, you're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London [(here's some info for the curious)](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

***This is the Tier 3 notebook, which means it's not filled in at all: we'll just give you the skeleton of a project, the brief and the data. It's up to you to play around with it and see what you can find out! Good luck! If you struggle, feel free to look at easier tiers for help; but try to dip in and out of them, as the more independent work you do, the better it is for your learning!***

This challenge will make use of only what you learned in the following DataCamp courses: 
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One) 
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following: 
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One) 
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three) 
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One) 
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One) 
    - **grouping data** (Manipulating DataFrames with pandas, Module Four) 
    - **melting data** (Manipulating DataFrames with pandas, Module Three) 
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four) 
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One) 
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two) 
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline

This is Tier Three, so we'll get you started. But after that, it's all in your hands! When you feel done with your investigations, look back over what you've accomplished, and prepare a quick presentation of your findings for the next mentor meeting. 

Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading 
2. Cleaning, transforming, and visualizing 
3. Modeling 
4. Evaluating and concluding

### 1. Sourcing and Loading 

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries. 

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [1]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

#### 1.2.  Loading the data
Your data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal for London-oriented datasets.

In [2]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

### 2. Cleaning, transforming, and visualizing
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. Cleaning forms the majority of this stage, and can be done both before or after Transformation.

The end goal of data cleaning is to have tidy data. When data is tidy: 

1. Each variable has a column.
2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer. 



***Hint:*** This part of the data science pipeline should test those skills you acquired in: 
- Intermediate Python for data science, all modules.
- pandas Foundations, all modules. 
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [3]:
properties.shape
print(properties.head(3))

  Unnamed: 0 City of London Barking & Dagenham     Barnet     Bexley  \
0        NaT      E09000001          E09000002  E09000003  E09000004
1 1995-01-01          91449            50460.2    93284.5    64958.1
2 1995-02-01        82202.8            51085.8    93190.2    64787.9

       Brent    Bromley     Camden    Croydon     Ealing  ... NORTH WEST  \
0  E09000005  E09000006  E09000007  E09000008  E09000009  ...  E12000002
1    71306.6    81671.5     120933    69158.2    79885.9  ...    43958.5
2    72022.3    81657.6     119509    68951.1    80897.1  ...    43925.4

  YORKS & THE HUMBER EAST MIDLANDS WEST MIDLANDS EAST OF ENGLAND     LONDON  \
0          E12000003     E12000004     E12000005       E12000006  E12000007
1            44803.4       45544.5       48527.5         56701.6    74435.8
2            44528.8       46051.6       49341.3         56593.6    72777.9

  SOUTH EAST SOUTH WEST Unnamed: 47    England
0  E12000008  E12000009         NaN  E92000001
1    64018.9    54705.2         NaN    53202.8
2      63715    54356.1         NaN    53096.2

[3 rows x 49 columns]

**2.2. Cleaning the data**

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

In [6]:
propertiesT = properties.transpose()
propertiesT.reset_index()
#propertiesT.iloc[[0]]
#propertiesT.columns = propertiesT.iloc[0]
#propertiesT.drop(0)
#propertiesT.head()

,index,0,1,2,3,4,5,6,7,8,...,292,293,294,295,296,297,298,299,300,301
0,Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2019-04-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00
1,City of London,E09000001,91449,82202.8,79120.7,77101.2,84409.1,94900.5,110128,112329,...,738842,718773,743157,719871,777613,792034,827093,777610,734872,775309
2,Barking & Dagenham,E09000002,50460.2,51085.8,51269,53133.5,53042.2,53700.3,52113.1,52232.2,...,296360,296555,295600,299538,300702,305277,304153,305882,301816,301057
3,Barnet,E09000003,93284.5,93190.2,92247.5,90762.9,90258,90107.2,91441.2,92361.3,...,512588,503721,511926,514134,527996,527115,525739,523582,517986,520682
4,Bexley,E09000004,64958.1,64787.9,64367.5,64277.7,63997.1,64252.3,63722.7,64432.6,...,339948,337445,339964,338721,338702,334826,334510,334711,336972,331683
5,Brent,E09000005,71306.6,72022.3,72015.8,72965.6,73704,74310.5,74127,73547,...,487049,482244,472702,470872,486068,500246,494527,431249,431245,408523
6,Bromley,E09000006,81671.5,81657.6,81449.3,81124.4,81542.6,82382.8,82898.5,82054.4,...,432875,430231,432035,435329,442452,440620,439782,438792,443391,436757
7,Camden,E09000007,120933,119509,120282,120098,119929,121887,124028,125530,...,822533,836880,871354,881212,855721,828560,799950,818880,807466,810298
8,Croydon,E09000008,69158.2,68951.1,68712.4,68610,68844.9,69052.5,69142.5,68993.4,...,364013,364371,363161,365262,363885,364997,364424,367458,369301,368662
9,Ealing,E09000009,79885.9,80897.1,81379.9,82188.9,82077.1,81630.7,82352.2,82706.7,...,461320,465025,472063,473089,473808,475064,478329,475304,470862,473268
10,Enfield,E09000010,72514.7,73155.2,72190.4,71442.9,70630.8,71348.3,71837.5,72237.9,...,393997,388337,391342,387867,393602,386682,393802,393860,401981,391365
11,Greenwich,E09000011,62300.1,60993.3,61377.8,61927.7,63513,64751.6,65486.3,65076.4,...,382294,381143,388062,396728,396339,398331,394952,397157,398530,392699
12,Hackney,E09000012,61296.5,63187.1,63593.3,65139.6,66194,66921.2,68390.8,68096.8,...,572994,563073,549879,558792,570665,575846,569477,562039,556680,571882
13,Hammersmith & Fulham,E09000013,124903,122088,120636,121425,124434,126175,124382,123625,...,713365,713548,712179,722627,729313,733133,720882,718071,725991,749337
14,Haringey,E09000014,76287.6,78901.2,78521.9,79545.6,79374,79956.4,80746.3,81217.7,...,530148,542321,541576,553882,546952,556375,554542,561283,568238,578728
15,Harrow,E09000015,84769.5,83396.1,83416.2,83567.9,83853.7,84173.2,84226.7,84430.6,...,446304,443200,448131,445549,449306,451900,454211,451076,450022,460121
16,Havering,E09000016,68000.1,69393.5,69368,69444.3,68534.5,68464.6,68680.8,69023.4,...,358877,360927,365296,367266,367402,366415,367546,366351,366567,359188
17,Hillingdon,E09000017,73834.8,75031.1,74188.7,73911.4,73117.1,74005,74671.1,74967.9,...,405309,401452,395374,398057,396258,404082,403438,408048,407357,413229
18,Hounslow,E09000018,72231.7,71051.6,72098,71890.3,72877.5,72331.1,73717.8,74479.9,...,395993,398862,401748,398001,402410,406757,413672,410452,413137,412352
19,Islington,E09000019,92516.5,94342.4,93465.9,93344.5,94346.4,97428.9,98976.1,98951.2,...,619883,623358,627183,632614,649329,656948,645971,629164,645161,673418
20,Kensington & Chelsea,E09000020,182695,182345,182879,184177,191474,197266,197963,198037,...,1.26656e+06,1.23735e+06,1.29411e+06,1.28894e+06,1.26226e+06,1.24638e+06,1.19121e+06,1.19334e+06,1.22161e+06,1.17817e+06
21,Kingston upon Thames,E09000021,80875.8,81230.1,81111.5,81672.8,82123.5,82205.7,82525.8,83342.8,...,474617,473282,483930,502723,507183,504567,487844,490852,491386,483250
22,Lambeth,E09000022,67771,65381.5,66336.5,66388.8,69035.1,68881.2,69608.7,68840,...,499905,495063,502091,508360,519475,521142,516985,519234,518618,526690
23,Lewisham,E09000023,60491.3,60869.3,60288,59471,58551.4,58041.4,58126.4,58151.3,...,402204,405653,405553,410073,415558,420718,422711,417318,415125,412522
24,Merton,E09000024,82070.6,79982.7,80661.7,79990.5,80874,80704.9,81055.9,80781.1,...,501814,487425,499425,505198,518932,517023,510901,504065,505373,507897
25,Newham,E09000025,53539.3,53153.9,53458.3,54479.8,55804,56067.8,55458.3,54709.4,...,368035,370155,358981,356312,358034,368382,371678,365400,363493,368816
26,Redbridge,E09000026,72189.6,72141.6,72501.4,72228.6,72366.6,72279.4,72880.8,73275.2,...,403196,402650,411017,417693,424286,414820,411851,413867,423442,418360
27,Richmond upon Thames,E09000027,109326,111103,107325,106875,107708,112865,114657,112320,...,641418,637519,651995,656390,657558,648451,643937,649756,656781,675114
28,Southwark,E09000028,67885.2,64799.1,65763.3,63073.6,64420.5,64155.8,67024.7,65525.9,...,486643,496635,494468,498785,496228,506787,513550,512367,505619,502612
29,Sutton,E09000029,71537,70893.2,70306.8,69411.9,69759.2,70125.2,70789.6,69958.4,...,368717,370330,372902,374130,369204,373890,370475,375450,374700,371626
30,Tower Hamlets,E09000030,59865.2,62318.5,63938.7,66233.2,66432.9,66232.2,64692.2,63472.3,...,432566,427827,428141,432142,442846,448436,455091,453177,457893,450669
31,Waltham Forest,E09000031,61319.4,60252.1,60871.1,60971.4,61494.2,61547.8,61933.5,61916.4,...,432420,425770,422441,418695,426489,431498,434610,435963,439009,452299
32,Wandsworth,E09000032,88559,88641,87124.8,87026,86518.1,88114.3,89830.6,90560.7,...,578421,579743,576629,586165,593268,605360,599182,600835,604056,610256
33,Westminster,E09000033,133025,131468,132260,133370,133911,134562,133450,136582,...,992834,1.02082e+06,997393,957897,914870,925955,927864,955615,968404,1.01903e+06
34,Unnamed: 34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Inner London,E13000001,78252,75885.7,76591.6,76851.6,79129.2,79969.2,80550.5,80597.6,...,563545,565648,565308,569119,571661,577852,575198,574539,575511,581939
36,Outer London,E13000002,72958.8,72937.9,72714.5,72591.9,72753,73189.4,73665.9,73691.1,...,418651,416468,419626,421871,425249,425650,424913,423302,424774,423006
37,Unnamed: 37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NORTH EAST,E12000001,42076.4,42572,42369.7,42095.8,43266.5,42315.3,43287.7,41899.1,...,129094,128846,129606,129737,131693,131941,129324,129646,129959,126592
39,NORTH WEST,E12000002,43958.5,43925.4,44434.9,44267.8,44223.6,44113,44109.6,44193.7,...,162455,164148,163828,165940,167430,166804,166784,165921,167285,164769
40,YORKS & THE HUMBER,E12000003,44803.4,44528.8,45200.5,45614.3,44831,45392.6,45535,45111.5,...,162101,162401,163631,165047,165704,165362,166669,164530,166932,165383
41,EAST MIDLANDS,E12000004,45544.5,46051.6,45383.8,46124.2,45878,45680,46037.7,45922.5,...,191721,192243,192192,193677,195129,195107,194961,195515,196534,195707
42,WEST MIDLANDS,E12000005,48527.5,49341.3,49442.2,49455.9,50369.7,50100.4,49860,49598.5,...,195789,197479,196812,197999,201098,201029,200388,201447,199814,200628
43,EAST OF ENGLAND,E12000006,56701.6,56593.6,56171.2,56567.9,56479.8,56288.9,57242.3,56732.4,...,288556,289326,289237,291491,291192,292645,291566,289917,293497,286999
44,LONDON,E12000007,74435.8,72777.9,73896.8,74455.3,75432,75606.2,75984.2,75529.3,...,470092,463976,471053,478348,473390,477727,474318,469422,481710,476588
45,SOUTH EAST,E12000008,64018.9,63715,64113.6,64623.2,64530.4,65511,65224.9,64851.6,...,319712,319201,321244,322834,323011,324501,323581,323951,324515,320700
46,SOUTH WEST,E12000009,54705.2,54356.1,53583.1,54786,54698.8,54420.2,54265.9,54365.7,...,253438,252174,253334,258379,258317,259145,259092,257363,259011,254320
47,Unnamed: 47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,England,E92000001,53202.8,53096.2,53201.3,53590.9,53678.2,53735.2,53900.6,53600.3,...,245077,245255,246140,248562,249432,249942,249376,248515,250410,247355

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

In [8]:
propertiesT.rename(columns = {'Unnamed: 0':'London_Borough', pd.NaT: 'ID'})

,0,1,2,3,4,5,6,7,8,9,...,292,293,294,295,296,297,298,299,300,301
Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,...,2019-04-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00
City of London,E09000001,91449,82202.8,79120.7,77101.2,84409.1,94900.5,110128,112329,104473,...,738842,718773,743157,719871,777613,792034,827093,777610,734872,775309
Barking & Dagenham,E09000002,50460.2,51085.8,51269,53133.5,53042.2,53700.3,52113.1,52232.2,51471.6,...,296360,296555,295600,299538,300702,305277,304153,305882,301816,301057
Barnet,E09000003,93284.5,93190.2,92247.5,90762.9,90258,90107.2,91441.2,92361.3,93273.1,...,512588,503721,511926,514134,527996,527115,525739,523582,517986,520682
Bexley,E09000004,64958.1,64787.9,64367.5,64277.7,63997.1,64252.3,63722.7,64432.6,64509.5,...,339948,337445,339964,338721,338702,334826,334510,334711,336972,331683
Brent,E09000005,71306.6,72022.3,72015.8,72965.6,73704,74310.5,74127,73547,73789.5,...,487049,482244,472702,470872,486068,500246,494527,431249,431245,408523
Bromley,E09000006,81671.5,81657.6,81449.3,81124.4,81542.6,82382.8,82898.5,82054.4,81440.4,...,432875,430231,432035,435329,442452,440620,439782,438792,443391,436757
Camden,E09000007,120933,119509,120282,120098,119929,121887,124028,125530,120597,...,822533,836880,871354,881212,855721,828560,799950,818880,807466,810298
Croydon,E09000008,69158.2,68951.1,68712.4,68610,68844.9,69052.5,69142.5,68993.4,69393.5,...,364013,364371,363161,365262,363885,364997,364424,367458,369301,368662
Ealing,E09000009,79885.9,80897.1,81379.9,82188.9,82077.1,81630.7,82352.2,82706.7,82011.1,...,461320,465025,472063,473089,473808,475064,478329,475304,470862,473268
Enfield,E09000010,72514.7,73155.2,72190.4,71442.9,70630.8,71348.3,71837.5,72237.9,71725.2,...,393997,388337,391342,387867,393602,386682,393802,393860,401981,391365
Greenwich,E09000011,62300.1,60993.3,61377.8,61927.7,63513,64751.6,65486.3,65076.4,63996.8,...,382294,381143,388062,396728,396339,398331,394952,397157,398530,392699
Hackney,E09000012,61296.5,63187.1,63593.3,65139.6,66194,66921.2,68390.8,68096.8,68752.5,...,572994,563073,549879,558792,570665,575846,569477,562039,556680,571882
Hammersmith & Fulham,E09000013,124903,122088,120636,121425,124434,126175,124382,123625,123094,...,713365,713548,712179,722627,729313,733133,720882,718071,725991,749337
Haringey,E09000014,76287.6,78901.2,78521.9,79545.6,79374,79956.4,80746.3,81217.7,82142.9,...,530148,542321,541576,553882,546952,556375,554542,561283,568238,578728
Harrow,E09000015,84769.5,83396.1,83416.2,83567.9,83853.7,84173.2,84226.7,84430.6,83607,...,446304,443200,448131,445549,449306,451900,454211,451076,450022,460121
Havering,E09000016,68000.1,69393.5,69368,69444.3,68534.5,68464.6,68680.8,69023.4,68108.2,...,358877,360927,365296,367266,367402,366415,367546,366351,366567,359188
Hillingdon,E09000017,73834.8,75031.1,74188.7,73911.4,73117.1,74005,74671.1,74967.9,73843.6,...,405309,401452,395374,398057,396258,404082,403438,408048,407357,413229
Hounslow,E09000018,72231.7,71051.6,72098,71890.3,72877.5,72331.1,73717.8,74479.9,74426.7,...,395993,398862,401748,398001,402410,406757,413672,410452,413137,412352
Islington,E09000019,92516.5,94342.4,93465.9,93344.5,94346.4,97428.9,98976.1,98951.2,99582.6,...,619883,623358,627183,632614,649329,656948,645971,629164,645161,673418
Kensington & Chelsea,E09000020,182695,182345,182879,184177,191474,197266,197963,198037,197048,...,1.26656e+06,1.23735e+06,1.29411e+06,1.28894e+06,1.26226e+06,1.24638e+06,1.19121e+06,1.19334e+06,1.22161e+06,1.17817e+06
Kingston upon Thames,E09000021,80875.8,81230.1,81111.5,81672.8,82123.5,82205.7,82525.8,83342.8,85111,...,474617,473282,483930,502723,507183,504567,487844,490852,491386,483250
Lambeth,E09000022,67771,65381.5,66336.5,66388.8,69035.1,68881.2,69608.7,68840,70155.8,...,499905,495063,502091,508360,519475,521142,516985,519234,518618,526690
Lewisham,E09000023,60491.3,60869.3,60288,59471,58551.4,58041.4,58126.4,58151.3,58743,...,402204,405653,405553,410073,415558,420718,422711,417318,415125,412522
Merton,E09000024,82070.6,79982.7,80661.7,79990.5,80874,80704.9,81055.9,80781.1,80824.7,...,501814,487425,499425,505198,518932,517023,510901,504065,505373,507897
Newham,E09000025,53539.3,53153.9,53458.3,54479.8,55804,56067.8,55458.3,54709.4,54585.5,...,368035,370155,358981,356312,358034,368382,371678,365400,363493,368816
Redbridge,E09000026,72189.6,72141.6,72501.4,72228.6,72366.6,72279.4,72880.8,73275.2,73204,...,403196,402650,411017,417693,424286,414820,411851,413867,423442,418360
Richmond upon Thames,E09000027,109326,111103,107325,106875,107708,112865,114657,112320,110425,...,641418,637519,651995,656390,657558,648451,643937,649756,656781,675114
Southwark,E09000028,67885.2,64799.1,65763.3,63073.6,64420.5,64155.8,67024.7,65525.9,63467,...,486643,496635,494468,498785,496228,506787,513550,512367,505619,502612
Sutton,E09000029,71537,70893.2,70306.8,69411.9,69759.2,70125.2,70789.6,69958.4,69937.4,...,368717,370330,372902,374130,369204,373890,370475,375450,374700,371626
Tower Hamlets,E09000030,59865.2,62318.5,63938.7,66233.2,66432.9,66232.2,64692.2,63472.3,62177.6,...,432566,427827,428141,432142,442846,448436,455091,453177,457893,450669
Waltham Forest,E09000031,61319.4,60252.1,60871.1,60971.4,61494.2,61547.8,61933.5,61916.4,61548.2,...,432420,425770,422441,418695,426489,431498,434610,435963,439009,452299
Wandsworth,E09000032,88559,88641,87124.8,87026,86518.1,88114.3,89830.6,90560.7,91373.7,...,578421,579743,576629,586165,593268,605360,599182,600835,604056,610256
Westminster,E09000033,133025,131468,132260,133370,133911,134562,133450,136582,135993,...,992834,1.02082e+06,997393,957897,914870,925955,927864,955615,968404,1.01903e+06
Unnamed: 34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Inner London,E13000001,78252,75885.7,76591.6,76851.6,79129.2,79969.2,80550.5,80597.6,80402.9,...,563545,565648,565308,569119,571661,577852,575198,574539,575511,581939
Outer London,E13000002,72958.8,72937.9,72714.5,72591.9,72753,73189.4,73665.9,73691.1,73454.4,...,418651,416468,419626,421871,425249,425650,424913,423302,424774,423006
Unnamed: 37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NORTH EAST,E12000001,42076.4,42572,42369.7,42095.8,43266.5,42315.3,43287.7,41899.1,41850.9,...,129094,128846,129606,129737,131693,131941,129324,129646,129959,126592
NORTH WEST,E12000002,43958.5,43925.4,44434.9,44267.8,44223.6,44113,44109.6,44193.7,44088.1,...,162455,164148,163828,165940,167430,166804,166784,165921,167285,164769
YORKS & THE HUMBER,E12000003,44803.4,44528.8,45200.5,45614.3,44831,45392.6,45535,45111.5,44837.9,...,162101,162401,163631,165047,165704,165362,166669,164530,166932,165383
EAST MIDLANDS,E12000004,45544.5,46051.6,45383.8,46124.2,45878,45680,46037.7,45922.5,45771.7,...,191721,192243,192192,193677,195129,195107,194961,195515,196534,195707
WEST MIDLANDS,E12000005,48527.5,49341.3,49442.2,49455.9,50369.7,50100.4,49860,49598.5,49319.7,...,195789,197479,196812,197999,201098,201029,200388,201447,199814,200628
EAST OF ENGLAND,E12000006,56701.6,56593.6,56171.2,56567.9,56479.8,56288.9,57242.3,56732.4,56259.3,...,288556,289326,289237,291491,291192,292645,291566,289917,293497,286999
LONDON,E12000007,74435.8,72777.9,73896.8,74455.3,75432,75606.2,75984.2,75529.3,74940.8,...,470092,463976,471053,478348,473390,477727,474318,469422,481710,476588
SOUTH EAST,E12000008,64018.9,63715,64113.6,64623.2,64530.4,65511,65224.9,64851.6,64352.5,...,319712,319201,321244,322834,323011,324501,323581,323951,324515,320700
SOUTH WEST,E12000009,54705.2,54356.1,53583.1,54786,54698.8,54420.2,54265.9,54365.7,54244,...,253438,252174,253334,258379,258317,259145,259092,257363,259011,254320
Unnamed: 47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
England,E92000001,53202.8,53096.2,53201.3,53590.9,53678.2,53735.2,53900.6,53600.3,53309.2,...,245077,245255,246140,248562,249432,249942,249376,248515,250410,247355

**2.4.Transforming the data**

Remember what Wes McKinney said about tidy data? 

You might need to **melt** your DataFrame here.

In [9]:
clean_properties = pd.melt(propertiesT, id_vars= ['London_Borough', 'ID'])
clean_properties = clean_properties.rename(columns = {0: 'Month', 'value': 'Average_price'})
clean_properties.head()

KeyError: "The following 'id_vars' are not present in the DataFrame: ['ID', 'London_Borough']"

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

In [ ]:
clean_properties.dtypes
clean_properties['Average_price'] = pd.to_numeric(clean_properties['Average_price'])
clean_properties.count()

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

In [ ]:
clean_properties['London_Borough'].unique()
clean_properties[clean_properties['London_Borough'] == 'Unnamed: 34'].head()
clean_properties[clean_properties['London_Borough'] == 'Unnamed: 37'].head()
clean_properties[clean_properties['ID'].isna()]
NaNFreeDF2 = clean_properties.dropna()
NaNFreeDF2.head(48)
NaNFreeDF2.count()
NaNFreeDF2['London_Borough'].unique()
print(clean_properties.shape)
print(NaNFreeDF2.shape)
nonBoroughs = ['Inner London', 'Outer London', 
               'NORTH EAST', 'NORTH WEST', 'YORKS & THE HUMBER', 
               'EAST MIDLANDS', 'WEST MIDLANDS',
              'EAST OF ENGLAND', 'LONDON', 'SOUTH EAST', 
              'SOUTH WEST', 'England']
NaNFreeDF2[NaNFreeDF2.London_Borough.isin(nonBoroughs)]
NaNFreeDF2[~NaNFreeDF2.London_Borough.isin(nonBoroughs)]
NaNFreeDF2 = NaNFreeDF2[~NaNFreeDF2.London_Borough.isin(nonBoroughs)]
df = NaNFreeDF2
df.head()
df.dtypes

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

In [ ]:
camden_prices = df[df['London_Borough'] == 'Camden']
ax = camden_prices.plot(kind ='line', x = 'Month', y='Average_price')
ax.set_ylabel('Price')

To limit the number of data points you have, you might want to extract the year from every month value your *Month* column. 

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column. 

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

In [ ]:
#df['Year'] = df['Month'].apply(lambda t: t.year)
df.tail()
dfg = df.groupby(by=['London_Borough', 'Year']).mean()
dfg.sample(10)
dfg = dfg.reset_index()
dfg.head()

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great! 

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

In [ ]:
def create_price_ratio(d):
    y1998 = float(d['Average_price'][d['Year']==1998])
    y2018 = float(d['Average_price'][d['Year']==2018])
    ratio = [y2018/y1998]
    return ratio
create_price_ratio(dfg[dfg['London_Borough']=='Barking & Dagenham'])
final = {}
for b in dfg['London_Borough'].unique():
    borough = dfg[dfg['London_Borough'] == b]
    final[b] = create_price_ratio(borough)
df_ratios = pd.DataFrame(final)
df_ratios_T = df_ratios.T
df_ratios = df_ratios_T.reset_index()
df_ratios.rename(columns={'index':'Borough', 0:'2018'}, inplace=True)
top15 = df_ratios.sort_values(by='2018',ascending=False).head(15)
ax = top15[['Borough','2018']].plot(kind='bar')
ax.set_xticklabels(top15.Borough)

### 4. Conclusion
What can you conclude? Type out your conclusion below. 

Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting. 

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course!